#include ".Xresources.d/breezie"

!fonts
Xft.dpi: 96
*font: xft:M+1mn:size=12
*barFont: xft:M+1mn:size=12
*iconFont: xft:FontAwesome:size=12

!cursor
URxvt*cursorBlink: false
URxvt*cursorUnderline: true

!font rendering
Xft.antialias: true
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: none
Xft.rgba: rgba

URxvt.scrollBar: false
URxvt.font:xft:Inconsolata:bold:size=9
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

URxvt.url-launcher: /usr/bin/qutebrowser
URxvt.matcher.button: 1

!extensions
URxvt.perl-ext-common: default,matcher,clipboard,resize-font

!notifications messages
URxvt*iso14755: False

! shortcuts
! clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
! resize-font
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-equal:      resize-font:bigger
URxvt.keysym.C-plus:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

