<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="system-menu" label="system">
  <item label="obconf">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="systemsettings5">
    <action name="Execute">
      <command>systemsettings5</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="reconfigure openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="leave-menu" label="power">
  <item label="lock">
    <action name="Execute">
      <command>slock</command>
    </action>
  </item>
  <item label="log out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
  <item label="reboot">
    <action name="Execute">
        <prompt>Are you sure?</prompt>
        <command>systemctl reboot</command>
    </action>
  </item>
  <item label="shutdown">
    <action name="Execute">
        <prompt>Are you sure?</prompt>
        <command>systemctl poweroff</command>
    </action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <item label="term">
    <action name="Execute">
      <command>urxvtc</command>
    </action>
  </item>
  <item label="dolphin">
    <action name="Execute">
      <command>dolphin</command>
    </action>
  </item>
  <item label="qutebrowser">
    <action name="Execute">
      <command>qutebrowser</command>
    </action>
  </item>

  <separator />
  <menu id="system-menu"/>
  <separator />
  <menu id="leave-menu"/>

</menu>

</openbox_menu>
